extends layout
block content
	h1= title
	p Welcome to #{title}
	div.wrap
		div.imgbox.animated.infinite.slideInLeft
			img(src="/images/anim01.jpg")
		div.imgbox.animated.infinite.slideInDown
			img(src="/images/anim02.jpg")
		div.imgbox.animated.infinite.slideInUp
			img(src="/images/anim03.jpg")
		div.imgbox.animated.infinite.slideInRight
			img(src="/images/anim04.jpg")