extends layout
block content
	h1= title
	p Welcome to #{title}
	//- div.animated.infinite.bounce bounce
	//- div.animated.infinite.flash flash
	//- div.animated.infinite.pulse pulse
	//- div.animated.infinite.rubberBand rubberBand
	//- div.animated.infinite.shake shake
	//- div.animated.infinite.headShake headShake
	//- div.animated.infinite.swing swing
	//- //- 荡秋千效果
	//- div.animated.infinite.tada tada
	//- div.animated.infinite.wobble wobble
	//- div.animated.infinite.jello jello
	//- div.animated.infinite.bounceIn bounceIn
	//- div.animated.infinite.bounceInDown bounceInDown
	//- div.animated.infinite.bounceInLeft bounceInLeft
	//- div.animated.infinite.bounceInRight bounceInRight
	//- div.animated.infinite.bounceInUp bounceInUp
	div.animated.infinite.bounceOut bounceOut
	div.animated.infinite.bounceOutLeft bounceOutLeft
	div.animated.infinite.bounceOutDown bounceOutDown
	div.animated.infinite.bounceOutRight bounceOutRight
	div.animated.infinite.bounceOutUp bounceOutUp
	