body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
	width: 200px;
	margin: 10px auto;
	background: #ddd;
	text-align: center;
	padding: 10px 0px;
}