body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.imgbox {
	float: left;
	margin: 10px;
}